nav{
    background-color: #333;
    color: #fff; 
    padding: 10px 20px;
}
nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline;
}
nav ul li {
    display: inline-block;
  }
  nav ul li a {
    color: #fff; 
    text-decoration: none; 
    padding: 10px; 
  }
  nav ul li a:hover {
    background-color: hotpink;
  }
.story{
    border: 0cap;
    border-color: black;
    position: relative;
    max-width: 60%;
    height: 609px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    overflow: scroll;
    max-height: 50%;

}
.name{
    display: inline-block;
    max-height: max-content;
}

.name img[src='./Assets/alphabet.jpeg']{
    margin-bottom: 400px;
}
.fit{
    padding-left: 0%;
    margin-bottom: 20px;
}
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center; 
    font-size: 24px; 
    font-weight: bold;
  }

.container{
     display: inline-block;
     margin-left: 5px;
  }
footer{
    margin-bottom: 0%;
}