nav{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin-left: 650px;
    border-radius: 10px;
    border-color: aqua;
    


}

.story{
    border: 0cap;
    border-color: black;
    position: relative;
    max-width: 60%;
    height: 609px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    overflow: scroll;
    max-height: 50%;

}
.name{
    padding-right: 0%;
    margin-left: 440px;
    max-height: max-content;
}
.fit{
    padding-left: 0%;
    margin-bottom: 20px;

}
